.play-btn {
  display: block;
  background-color:var(--color-play-btn);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75em 2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.play-btn:hover {
  background-color:var(--color-play-btn-hover);
  transform: scale(1.05);
}

.play-btn:disabled {
  background-color: var(--color-disabled-btn);
}

.placement-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.placement-options button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
}


.placement-options button:disabled {
   background-color: rgb(179, 179, 179);
   pointer-events: none;
}

.placement-options button:hover,
.placement-options button:focus {
  background-color: rgb(136, 135, 135);
  color: #eee;
}

.theme-toggle-container{
  position:fixed;
  left:1rem;
  z-index: 100;
}

#theme-toggle{
  font-size: 22px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor:pointer;


}
