.gameover-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(30, 30, 30, 0.5); /* semi-transparent black */
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
    opacity: 1;
    visibility: visible;
    transition:opacity 0.3s ease;
}

/* hidden state */
.gameover-overlay.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; /* Prevent interaction when hidden */
}

/* popup-box */
.gameover-popup {
  background-color: var(--color-legend-bg, white);
  color: var(--color-text, black);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: pop-in 0.3s ease;
  min-width: 300px;
 
}

.gameover-popup > *{
    margin-bottom: 1rem;
}

/* Restart button */
.restart-btn {
  background-color: var(--color-play-btn, #28a745);
  color: var(--color-play-btn-text, white);
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.restart-btn:hover {
  background-color: var(--color-play-btn-hover, #218838);
}

@keyframes pop-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}